*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#addNewTask{
    display: inline-block;
    padding: 12px;
    background-color: red;
    text-transform: uppercase;
    color:white;
}
#txtBox{
    padding: 12px;
}
section{
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#taskManager{
    max-height: 60vh;
    overflow-y: scroll;
    /* scroll-margin: 0; */
    scrollbar-width: thin;
}
#taskWrapper{
    border: 2px solid black;
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 4px;
}
#delete{
    display: inline;
    color: white;
    padding: 8px;
    background-color: red;
    margin: 0 4px;

}
#edit{
    display: inline;
    padding: 8px;
    background-color: blueviolet;
    margin: 0 4px;

}
#checkbox{
    width: 28px;
    height: 28px;
    padding: 0;
    /* margin: 0; */
    margin: 0 4px;
    
}
#taskInput{
    padding: 4px;
    margin: 0;
    margin: 0 4px;
    border: 0;
}
#taskInput:focus{
    border: 0;
    outline: none;
}
#dltConfirm{
    /* display: flex; */
    display: none;
    flex-direction: column;
    border: 2px solid blue;
    width: 260px;
    align-items: center;
    position: relative;
    padding: 8px 8px;
    border-radius: 60px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#areYouSureYouWantToDelete, #doNotDeleteTask{
    display: inline-block;
    padding: 4px 28px;
    margin: 0 4px;
    border-radius: 25px;
    background-color: red;
    color: white;
    width: fit-content;
    text-transform: uppercase;
}
i{
    position: absolute;
    left: 100%;
    bottom: 100%;
    transform: translate(-100%,100%);
}
p{
    padding: 0px 28px 16px 40px;
    line-height: 1.5;
}