*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* overflow: hidden; */
    background-color: rgb(189, 211, 255);
}
.Mainbox{
    position: relative;
    margin: 70vh auto 0 auto;
    /* top: 70%; */
    border: 0px solid transparent;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    overflow: hidden;
}
.arc{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -52%;
    /* opacity: 50%; */
    transition: 1s;
}
.arc1{
    left: -15px;
    background-color: rgb(222,236,251);
    /* background-color: rgb(125,192,236); */
    z-index: 3;

}
.arc2{
    left: 50px;
    background-color: rgb(190,218,247);
    /* background-color: rgb(1,143,229); */
    z-index: 2;
}
.arc3{
    left: 115px;
    background-color: rgb(122,179,239);
    /* background-color: rgb(2,97,158); */
    z-index: 1;
}

.roundSwitch{
    z-index: 10;
    border: 4px solid  rgb(122,179,239);
    border-style: dotted;
    border-style: inset;
    position: absolute;
    background-color: rgb(230,250,255);
    top: 2.5px;
    left: 2.5px;
    bottom: 2.5px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    transition: 1s;
}
.cloud{
    position: absolute;
    z-index: 5;
    /* background-color: rgb(133, 150, 181); */
    background-color: rgb(245, 250, 255);
    border-radius: 8px;
    transition: 1s;
}
.sbase1{
    left: 100px;
    top: 26px;
    width: 33px;
    height: 11px;
    
}
.sbase2{
    left: 108px;
    top: 21px;
    width: 22px;
    height: 10px;
}
.sbase3{
    left: 116px;
    top: 15px;
    width: 10px;
    height: 10px;
}
.sun, .moon{
    position: absolute;
    z-index: 4;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 16px;
    transition: 1s;
}
.sun{
    /* border: .5px solid rgb(248,242,188); */
    background-color: rgb(239, 215, 122);
    box-shadow: 0 0 8px rgb(250,167,89);
    left: 100px;
    /* transform: translate(7-8px , 50px); */
}
.moon{
    background-color: rgb(220,220,220);
    box-shadow: 0 0 8px rgb(250,250,250);
    left: 80px;
    transform: translate(-25px , -35px);
}

/* ////////////////////////////////////// */
.buildingBG{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* border: 1px solid green; */
    height: 100px;
    background-image: url(buildingBG.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    /* scale: 30%; */
}
.batmanMask{
    position: absolute;
    height: 330px;
    width: 230px;
    background-image: url(batman-and-me.png);
    opacity: 0;
    transition: 1s;
    /* scale: 145%; */
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.iAmBatmanHahaha{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,0%);
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    color: transparent;
    /* background-color: rgb(9, 11, 31); */
    text-align: center;
    transition-delay: .5s;
    transition: 1s;
}