*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.sectionCalc *{font-family: 'Varela Round', sans-serif;}
.sectionCalc{
    display: flex;
    flex-direction: column;
    /* border: 2px solid salmon; */
    background-color: #435334;
    width: 440px;
    padding: 40px;
    border-radius: 16px;
}
.gtInpBx{
    display: flex;
    /* width: 100%; */
    flex-direction: column;
}
.yearBox{
    align-self: flex-end;
}
.valDis{
    display: flex;
    justify-content: center;
}
.contInpBxs{
    display: flex;
    justify-content: space-around;
    margin: 8px 0;
}
.contInpBxs  input[type="number"]{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #9EB384;
    color: #9EB384;
    /* margin-right: 8px; */
    padding: 4px;
    font-size: 20px;
    font-weight: 500;
    width: 150px;
}
.contInpBxs label{
    font-size: 18px;
    text-transform: capitalize;
    color: #9EB384;
}
.Btn{
    padding: 0px ;
    height: 44px;
    line-height: 44px;
    width: 130px;
    font-size: 20px;
    text-transform:capitalize;
    margin: 8px auto;
    font-weight: 600;
    background-color: #952323;
    color: #FAF1E4;
    border: 2px solid #FAF1E4;
    border-radius: 12px;
    text-align: center;
}

.buttonWrapper{
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;
}
.DropDownBox{
    padding: 6px;
    border: 2px solid #9EB384;
    color: #9EB384;
    font-size: 18px;
    width: 150px;
    border-radius: 12px;
    background-color: transparent;
}
option{
    background-color: #435334;
}
.dispValues{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    background-color: #9EB384;
    padding: 20px;
    border-radius: 12px;
}
.dispValues > *{
    padding: 8px;
}
.dispValues label{
    font-weight: 600;
}
.dispValues input[type="text"]{
    background-color: transparent;
    border: 0;
    /* padding: 0; */
    font-size: 18px;
    min-width: 50px;
    width: 115px;
    max-width: 115px;
    margin-left: 4px;

}
.MainWrapper{
    background-color: #CEDEBD;
    /* background-image: linear-gradient(90deg, rgba(67,83,52,0.3) 40% ,rgba(206,222,189,1) 60%, rgba(67,83,52,0.3) 100%); */
    display: flex;
    padding: 40px 30px;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Intro{
    display: flex;
    flex-direction: column;
    width: 440px;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
}
.simpleInt{
    font-size: 40px;
    font-weight: 700;
    padding: 4px;
    color: #952323;
}
.calc{
    font-size: 50px;
    font-weight: 700;
    padding: 4px;
    color: #435334;
}
@media screen and (max-width:880px){
    .Intro > *{
        display: none;
    }
    .Intro{
        width: 0;
    }
    .MainWrapper{
        padding: 0;
        background-color: transparent;
    }

}
@media screen and (max-width:440px){
    .sectionCalc{
        width: 100vw;
        padding: 30px 8px;
        border-radius: 0;
        min-height: 100vh;
        /* max-height: 100vh; */
    }
    .sectionCalc *{
        flex-direction: column;
        /* padding: 0; */
    }
    .yearBox{
        align-self: flex-start;
        align-items: center;
        justify-content: center;
        margin: 8px auto;
    }
    .Btn{
        flex-direction: row;
        width: 80%;
        min-width: 260px;
    }
    .DropDownBox{
        width: 80%;
        margin-top: 12px;
        min-width: 260px;
    }
    .inpTxt{
        width: 80%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
        min-width: 260px;
    }
    .dispValues{
        width: 80%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
        min-width: 260px;
    }
    .contInpBxs .inpTxt{
        margin-bottom: 8px;
    }
    .contInpBxs{
        align-items: center;
    }
    .valDis{
        align-items: center;
        justify-content: center;
    }
    .viewer{text-align: center;}
    
}