*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ACB1D6;
}
section{
    width: 90vw;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.MegaWrap{
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    font-size: 22px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    margin: auto;

}
.displayWrap{
    margin: auto;
    width: 100%;
    padding: 8px;
}
.display{
    /* background-color: chocolate; */
    flex-grow: 1;
    padding:  8px 8px;
    width: 100%;
    height: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}
textarea{
    width: 100%;
    margin: auto;
    max-width: 750px;
    padding: 12px;
    background-color: #DBDFEA;
}
.txtArea{
    max-width: 750px;
    margin: auto;
    /* border: 1px solid; */
}
.c1, .c3{background-color: #8294C4;}
.c2, .c4{background-color: #ACB1D6;}

