*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    background-image: url('alien-planetBG.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.RockyWrap{
    height: 80vh;
    /* border: 3px solid greenyellow; */
    display: flex;
    align-items: flex-end;
}
.rocket{
    display: inline-block;
    width: 280px;
    height: 280px;

    background-image: url(rocket-vector1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    filter: drop-shadow(5px 10px 0 rgba(47,27,09,0.5));

    transition: 1s;
}
.Btn{
    padding: 8px 0px;
    text-align: center;
    font-size: 28px;
    border-radius: 8px;
    display: inline-block;
    width: 250px;

    background-color: transparent;
    border: 6px solid rgb(47,27,09);
    color: rgb(47,27,09);
    font-weight: 800;

}
.displayMyTimer{
    width: 200px;
    height: 70px;
    text-align: center;
    font-size: 60px;
    color: rgb(47,27,09);
    text-shadow: 0 0 8px 2px rgb(245,230,197);
    margin-bottom: 12px;
}