*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#slider{
    width: 350px;
    height: 20px;
    background-color: blue;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgb(110, 108, 108);;
    margin: 10% auto;
    background: rgb(187,255,114);
    background: linear-gradient(90deg, rgba(187,255,114,1) 0%, rgba(99,200,223,1) 56%, rgba(88,178,240,1) 100%);
    
}
#thumb1{
    /* transform: translateY(-25%); */
    border-radius: 50%;
    border: 3px solid rgb(110, 108, 108);
    position: absolute;
    left: 0;
    width: 20px;
    height: 19px;
    background-color:white;
}